{% extends "main/base.html" %}
{% load bootstrap3 %}

{% block header %} 
  <h2>Добавьте новость</h2>
{% endblock header %}

{% block content %}
  <div class="panel panel-default">
    <div class="panel-heading">
      <form action="{% url 'main:add_item' %}" method="post" class="post-form">
        {% csrf_token %}
        {% bootstrap_form form %}
        {% buttons %}
          <button name="submit" class="btn btn-primary">add news</button>
        {% endbuttons %}
      </form>
    </div>
  </div>
{% endblock content %}
